.header {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: "Red Hat Mono", monospace;
    font-weight: 400;
    font-size: 60px;
    color: #fff;
    margin-top: 40px;
  }
}
