.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

section {
  padding: 10px 20px 30px 20px;
}

p {
  font-family: "Red Hat Mono", monospace;
  font-weight: 300;
}

.Inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.Select-input {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 18px;
}

.Value-input {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 18px;
}

.button {
  width: 150px;
  height: 40px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.button-text {
  font-size: 18px;
  font-weight: bold;
}
